{% extends 'base.html.twig' %}

{% block title %} Les Supers Héros{% endblock %}

{% block body %}
    <div class="container-fluid mb-5">
        <div class="row profil mt-5">
            <div class="col-11 col-sm-9 col-md-7 col-lg-10 mx-auto justify-content-center p-3 border border-1">
                <h1 class="display-2 text-center mb-5"> Les Supers Musclés! <a href="{{ path ('home') }}"><i class="fas fa-mask"></i></a></h1>
                <h2 class="text-center mb-5">Non, pas le groupe de musique de la bande à Bernard Minet et Framboisier!</h2>
            </div>
        </div>
    </div>

{% endblock %}