<footer class="footer-container-fluid bg-dark">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center ms-4 py-2">
            <p class="bg-dark text-red mx-2">1984 SUPER HEROS OF WORLD</p>
        </div>
    </div>
    <div class="footer-network text-center">
        <img src="{{ asset('build/images/logoInsta.png') }}" width="30px" height="30px" alt="logo-insta">
        <img src="{{ asset('build/images/faceBook.png') }}" width="30px" height="30px" alt="logo-fb">
        <img src="{{ asset('build/images/twitter.png') }}" width="30px" height="30px" alt="logo-twit">
    </div>
</footer>